<!DOCTYPE html>
<html>
 
<head>
    <title>Product gallery || LearningRobo</title>
    
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="main">
  <h2>My Online Store</h2>
<h2>Products</h2>
<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('all')">All</button>
  <button class="btn" onclick="filterSelection('Laptop')"> Laptops</button>
  <button class="btn" onclick="filterSelection('Mobile')">Mobiles</button> 
  <button class="btn" onclick="filterSelection('Watch')">Watches</button> 
</div>


<div class="row">
  <div class="column Laptop">
    <div class="content">
      <img src="https://cdn.pixabay.com/photo/2014/05/02/21/50/laptop-336378__480.jpg" alt="Laptop" style="width:100%">
      <h4>Laptop</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Mobile">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/12/30/phone-1869510__340.jpg" alt="Mobile" style="width:100%">
      <h4>Mobile</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Laptop">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2014/05/02/21/49/laptop-336373__340.jpg" alt="Laptop" style="width:100%">
      <h4>Laptop</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Laptop">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2016/02/19/10/00/laptop-1209008__340.jpg" alt="Laptop" style="width:100%">
      <h4>Laptop</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Watch">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2015/06/25/17/22/smart-watch-821559__340.jpg" alt="Wrist-Watch" style="width:100%">
      <h4>Watch</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Mobile">
    <div class="content">
      <img src="https://cdn.pixabay.com/photo/2017/08/01/09/07/mobile-2563782__340.jpg" alt="Mobile" style="width:100%">
      <h4>Mobile</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
 
  <div class="column Mobile">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2018/04/27/03/51/technology-3353701__340.jpg" alt="Mobile" style="width:100%">
      <h4>Mobile</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>

  <div class="column Watch">
    <div class="content">
      <img src="https://cdn.pixabay.com/photo/2015/06/25/17/21/smart-watch-821557__340.jpg" alt="Wrist-Watch" style="width:100%">
      <h4>Watch</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
  <div class="column Watch">
    <div class="content">
    <img src="https://cdn.pixabay.com/photo/2014/07/31/23/00/wristwatch-407096__340.jpg" alt="Wrist-Watch" style="width:100%">
      <h4>Watch</h4>
      <p>Description:-<br><br>Lorem ipsum dolor..</p>
    </div>
  </div>
 

</div>


</div>
<div class="credit">Made with &#10084; by <a href="https://www.learningrobo.com/">Learning Robo</a></div>
<script src="script.js"></script>

</body>
</html>