* {
    box-sizing: border-box;
  }
  
  body {
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 20px;
    font-family: Arial;
  }
  img{
      height:250px;
      border-radius: 12px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .main {
    max-width: 1200px;
    margin: auto;
  }
  
  h2 {
    font-size: 30px;
    word-break: break-all;
    text-align: center;
    font-family: cursive;
    
  }
  
  .row {
    margin: 10px -16px;
  }
  
 
  .row,
  .row > .column {
    padding: 8px;
  }
  
  
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  .content {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    height:400px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .content:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transform: translateY(-10px);
  }
 .content >h4{
     color:#202124;
text-align:center ;
 }
 .content>p{
     color:#202124
 }
  .show {
    display: block;
  }
  

  .btn {
    border: none;
    margin: 0 5px;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 12px;
    width:100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #202124;
    color: white;
  }

  .credit{
    text-align: center;
    color: #000;
    padding-bottom:5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit a{
    color:#000
}